.Checkoutdisplay {
  width: 500px;
  height: 500px;
  border: 1px solid transparent;
  border-radius: 20px;
  text-align: center;

  background-image: url(https://www.kibrispdr.org/data/22/blue-and-pink-background-0.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.Checkoutdisplay h1 {
  color: blue;
  text-align: center;
}
