.sideBarcard {
  max-height: 130px;
  margin-top: 10px;
  box-shadow: 3px 4px 15px -8px rgb(0, 0, 0);
}
.itemsFlex {
  display: flex;
  justify-content: space-evenly;
}
.sidebarsmalImage {
  width: 100px;
  height: 130px;
}
.closeIconSideBar {
  transition: transform 0.3s;
}
.closeIconSideBar:hover {
  color: red;
  transform: scale(1.5);
}
.sidebaritemName {
  text-align: left;
  line-height: 28px;
  padding-top: 15px;
  width: 160px;
  height: 130px;
}
.sidebaritemName p {
  color: rgb(102, 102, 102);
}
.sidebaritemPrice {
  width: 90px;
  height: 130px;
  line-height: 35px;
  padding-top: 20px;
  text-align: right;
}
.sidebaritemPrice p {
  margin-right: 12px;
  color: rgb(236, 163, 5);
}
