.headerContainer {
  display: flex !important;
  width: 85%;
  z-index: 0;
  /* background-color: gainsboro; */
}
.headerHeading1 {
  max-width: 300px;
  margin: auto;
  text-align: center;
  padding-left: 9px;
}
.sizeList {
  width: 50%;
}
.flexProductCards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  margin-top: 20px;
  /* background-color: rgb(151, 171, 171); */
  /* row-gap: 20px; */
}
.productListHeading {
  margin-left: 50px;
}
.mobileSizeList {
  display: none;
}
@media only screen and (max-width: 1367px) {
  .sizeList {
    display: none;
  }

  .mobileSizeList {
    display: block;
    text-align: center;
    align-items: center;
  }
  .mobileSizeList {
    display: flex;
    justify-content: center;
    margin-top: 10px !important;
  }
  .mobileSizeList h3 {
    display: none;
  }
  .allproductData {
    margin-top: 150px;
  }
  .headerContainer {
    margin-top: -80px;
  }
}
