.sidebar {
  position: fixed;
  background-color: rgb(29, 29, 29);
  color: white;
  width: 400px;
  transition: width 10s;
  height: 100vh;
  right: 0;
  z-index: 100000;
}

.closeIcon {
  margin-top: 7px;
}
.cartIcon {
  width: 20px;
  height: 20px;
  background-color: rgb(255, 150, 23);
  border-radius: 50%;
  position: relative;
  text-align: center;
  align-items: center;
  margin-left: -30px;
  color: black;
}
.closeButton {
  width: 50px;
  height: 50px;
  background-color: rgb(29, 29, 29);
  position: absolute;
  left: -50px;
}
.sideBarItems {
  display: flex !important;
  justify-content: center !important;

  gap: 30px !important;
  padding-top: 70px !important;
  height: 130px !important;
  border-bottom: 1px solid rgb(0, 0, 0);
  box-shadow: 3px 4px 27px -8px rgb(0, 0, 0);
}
.sideBarItems h2 {
  margin-top: 3px;
}
.cartCheckBox {
  height: 150px;
  background-color: rgb(27, 27, 27);
  box-shadow: 3px 4px 27px -8px rgb(0, 0, 0);
}
.cartListItems {
  height: 480px;
  text-align: center;
  border-bottom: 1px solid rgb(45, 45, 45);
  overflow-y: scroll;
}
.cartListItems::-webkit-scrollbar {
  width: 5px !important;
  color: black !important;
  background-color: black;
}

.subtotalPrice {
  margin-top: 20px;
  display: flex;
  gap: 130px;
  justify-content: space-evenly;
}
.subtotalPrice h3 {
  color: gray;
  margin-top: 5px;
}
.subtotalPrice p {
  color: rgb(255, 188, 4);
  margin-top: 6px;
}
.subtotalButton {
  width: 350px;
  align-items: center;
  margin-left: 30px;
  padding: 10px;
  margin-top: 50px;
  background-color: rgb(0, 0, 0);
  color: white;
  font-size: 20px;
  border: 1px solid transparent;
}
.subtotalButton:hover {
  cursor: pointer;
  background-color: rgb(197, 132, 12);
}
@media only screen and (max-width: 448px) {
  .closeButton {
    width: 50px;
    height: 50px;
    background-color: rgb(187, 9, 9);
    color: white;
    position: absolute;
    padding-left: 3px;
    left: 350px;
  }
}
@media only screen and (max-width: 375px) {
  .cartListItems {
    height: 360px !important;
    text-align: center;
    border-bottom: 1px solid rgb(45, 45, 45);
    overflow-y: scroll !important ;
  }
  .sidebar {
    position: fixed;
    background-color: rgb(29, 29, 29);
    color: white;
    width: 400px;
    transition: width 10s;
    height: 100vh;
    right: 0;
    z-index: 100000;
    overflow-y: scroll !important;
  }
}
@media only screen and (max-width: 414px) {
  .sidebar {
    position: fixed;
    background-color: rgb(29, 29, 29);
    color: white;
    width: 400px;
    transition: width 10s;
    height: 100vh;
    right: 0;
    z-index: 100000;
    overflow-y: scroll !important;
  }
}
